---
import './src/styles/global.css' 
---

<div class="w-screen h-screen bg-slate-900">
    <a href="find-portal" class="text-white text-3xl underline">Scan QRs</a>
    <a href="reconstructor" class="text-white text-3xl underline">Reconstruct Memories</a>
</div>