---
import '../styles/global.css' 
---

<style>
  body {
    background: oklch(12.9% 0.042 264.695);
    background-image: radial-gradient(oklch(27.9% 0.041 260.031) 2px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }
</style>

<div class="w-screen h-svh flex align-middle items-center flex-col">
    <div class="bg-slate-700/20 backdrop-blur-xs rounded-full outline w-200 flex justify-center outline-slate-500 center h-24 py-1 mt-12">
        <img src="/logo.png" class="h-22">
    </div>

    <!-- SKIBIDI TOILET  -->
    
    <div class="bg-slate-700/20 backdrop-blur-xs rounded-full outline flex justify-center outline-slate-500 center h-10 align-middle items-center mt-5 w-140">
        <span class="text-red-600 font-hack text-2xl font-bold">ORPHEUS OFFLINE | 0 HACKERS ACTIVE</span>
    </div>

    <div class="flex w-3/4 mt-12 gap-5">
        <div class="bg-slate-700/20 backdrop-blur-xs rounded-2xl outline outline-slate-50 0 grow-5 p-10 basis-1/2">
            <span class="italic text-slate-400 font-hack">no upcoming events</span>
            <div class="h-0.5 bg-slate-400 my-2 w-full"></div>
            <span class="italic text-slate-400 font-hack">previous events</span>
            <div class="bg-slate-700 w-full p-3 rounded-2xl my-3">
                <h2 class="text-white font-bold text-2xl font-hack">Hack Night</h2>
                <p class="text-slate-300 text-md font-hack italic">mainstage // april 21, 6:00 PM</p>
                <p class="text-slate-100 text-lg font-hack">Bring your project and hack on it all night! We'll have snacks, support, and fun activities till midnight.</p>
            </div>
            

            <div class="bg-slate-700 w-full p-3 rounded-2xl mt-3">
                <h2 class="text-white font-bold text-2xl font-hack">Hiding Messages in Websites</h2>
                <p class="text-slate-300 text-md font-hack italic">floor 2 // march 28, 2:00 PM</p>
                <p class="text-slate-100 text-lg font-hack">This is a quick talk about the basics of steganography and how to effectively hide messages in websites.</p>
            </div>
        
        </div>
        <div class="bg-slate-700/20 backdrop-blur-xs rounded-2xl outline outline-slate-50 0 grow-5 p-10 basis-1/2
        ">
            <span class="italic text-red-700 font-hack">could not contact chat server</span>
        </div>
    </div>



</div>

